# Dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Coverage reports
coverage/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Docker artifacts (optional)
*.tar

# IDE files
.vscode/
.idea/